In [1]:
#lets begin by importing pandas, numpy and matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
warnings.filterwarnings('ignore')

In [2]:
#now, lets load our dataset
df_train = pd.read_csv('zimmat_train.csv', parse_dates = ['join_date']) #parse_dates to change the dtype from object to datetime.
df_test = pd.read_csv('zimmat_test.csv', parse_dates = ['join_date'])

In [3]:
submit = pd.read_csv('SampleSubmission.csv')

In [4]:
#now, lets explore our data
df_train.head()

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,P5DA,RIBP,...,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,4WKQSBB,2019-01-02,F,M,1987,1X1H,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
1,CP5S02H,2019-01-06,F,M,1981,UAOD,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2YKDILJ,2013-01-06,M,U,1991,748L,QZYX,90QI,0,0,...,0,0,0,0,0,0,0,0,0,1
3,2S9E81J,2019-01-08,M,M,1990,1X1H,BP09,56SI,0,0,...,0,0,0,1,0,0,0,0,0,0
4,BHDYVFT,2019-01-08,M,M,1990,748L,NO3L,T4MS,0,0,...,0,0,0,0,0,0,1,1,0,0

In [5]:
df_test.head()

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,P5DA,RIBP,...,AHXO,BSTQ,FM3X,K6QO,QBOL,JWFN,JZ9D,J9JW,GHYX,ECY3
0,F86J5PC,2018-01-12,M,M,1984,94KC,DZRV,90QI,0,0,...,0,0,0,0,0,0,0,0,0,0
1,H6141K3,2019-01-10,M,M,1996,1X1H,J9SY,90QI,0,0,...,0,0,0,1,0,0,0,0,0,0
2,RBAYUXZ,2020-01-01,F,W,1968,UAOD,2A7I,T4MS,0,0,...,0,0,0,1,0,0,0,0,0,0
3,KCBILBQ,2019-01-02,M,M,1989,94KC,2A7I,T4MS,0,0,...,0,0,0,0,0,0,0,0,0,0
4,LSEC1ZJ,2020-01-02,F,M,1982,UAOD,0KID,T4MS,0,0,...,0,0,0,0,0,0,1,0,0,0

In [6]:
submit.head()

       ID X PCODE  Label
0  F86J5PC X P5DA      0
1  F86J5PC X RIBP      0
2  F86J5PC X 8NN1      0
3  F86J5PC X 7POT      0
4  F86J5PC X 66FJ      0

In [7]:
#checking the shape of our dataset
print(df_train.shape, df_test.shape, submit.shape)

(29132, 29) (10000, 29) (210000, 2)

In [8]:
#lets store the insurance products id in a multidimensional array, we will be using them during melting
"""
We have to melt our data in order to adjust it to the format of our Samplesubmission format
"""
train_products = df_train[['P5DA', 'RIBP', '8NN1', '7POT', '66FJ', 'GYSR', 'SOP4', 'RVSZ', 'PYUQ',
                          'LJR9', 'N2MW', 'AHXO', 'BSTQ', 'FM3X', 'K6QO', 'QBOL', 'JWFN', 'JZ9D', 'J9JW', 
                          'GHYX', 'ECY3']]

test_products = df_test[['P5DA', 'RIBP', '8NN1', '7POT', '66FJ', 'GYSR', 'SOP4', 'RVSZ', 'PYUQ',
                          'LJR9', 'N2MW', 'AHXO', 'BSTQ', 'FM3X', 'K6QO', 'QBOL', 'JWFN', 'JZ9D', 'J9JW', 
                          'GHYX', 'ECY3']]

In [9]:
"""
To make analysis of data in the table easier, we can reshape the data into a more computer-friendly form using the
melt(). This method unpivots a dataframe from wide format to long format.
"""
#Transformation of Axis
df_train = df_train.melt(id_vars=df_train.columns[:8], value_vars=train_products, var_name = 'PCODE', value_name ='Label')

df_test = df_test.melt(id_vars=df_test.columns[:8], value_vars=test_products, var_name = 'PCODE', value_name ='Label')

In [10]:
#lets create a merger, this will help us when we are trying to split our concatenated data
df_train['combiner'] = 'X'
#notice that we didnt create for test, this will set all test enteries in this column to NA(which will in turn make spliting easy)

In [11]:
#Now, lets concatenate the test and train data together
full_data = pd.concat([df_train, df_test], sort = False).reset_index(drop=True)

In [12]:
#lets get a sample(random) of our entire dataset
full_data.sample(10)

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,PCODE,Label,combiner
622528,ZS02Q14,2020-01-02,M,M,1974,94KC,2A7I,T4MS,RIBP,0,NaN
229890,V4K84G1,2018-01-10,M,M,1974,E5SW,31JW,90QI,RVSZ,1,X
44198,UPJTNSY,2016-01-03,M,M,1982,748L,6E4H,90QI,RIBP,0,X
217692,8C978WC,2018-01-05,F,S,1978,XX25,SST3,56SI,RVSZ,1,X
414925,DBDS1DH,2019-01-07,F,M,1990,E5SW,0OJM,T4MS,K6QO,1,X
466305,V020CLD,2016-01-11,M,M,1969,UAOD,0B60,JD7X,JWFN,0,X
23126,1MZANI9,2018-01-06,M,M,1980,UAOD,SST3,56SI,P5DA,0,X
204157,IYGN3DY,2019-01-08,M,M,1988,BOAS,U37O,90QI,RVSZ,1,X
810983,KBC7EUN,2018-01-06,F,S,1982,UAOD,BPSA,90QI,GHYX,0,NaN
344624,810D9QL,2018-01-04,M,M,1994,UAOD,SST3,56SI,AHXO,0,X

In [13]:
#Now, lets check the distribution of the labels(insurance products)...checking for inbalances
print('Training Label Distribution:')
print('**' * 25)
print(df_train['Label'].value_counts())
print('**' * 25)
print('Testing Label Distribution:')
print(df_test['Label'].value_counts())
print('**' * 25)
print('Submission Label Distribution:')
print(submit['Label'].value_counts())

Training Label Distribution:
**************************************************
0    545419
1     66353
Name: Label, dtype: int64
**************************************************
Testing Label Distribution:
0    197147
1     12853
Name: Label, dtype: int64
**************************************************
Submission Label Distribution:
0    197147
1     12853
Name: Label, dtype: int64

In [14]:
#now, lets split our full_data back... the combiner will make the job easier(incase there is any mixup)
df_train = full_data[full_data.combiner.notnull()].reset_index(drop = True) #we know that df_train has X in the combiner column
df_test = full_data[full_data.combiner.isna()].reset_index(drop =  True) # we also know that the test values are nan in combiner

df_train = df_train.drop('combiner', axis = 1)
df_test = df_test.drop(['Label', 'combiner'], axis = 1)

print(df_train.shape, df_test.shape, submit.shape)

(611772, 10) (210000, 9) (210000, 2)

In [15]:
#from the submission format, we may need to create a new column to meet the requirements
df_train['ID X PCODE'] = df_train['ID'] + ' X ' + df_train['PCODE']
df_test['ID X PCODE'] = df_test['ID'] + ' X ' + df_test['PCODE']

In [16]:
#lets try to rearange the columns, this can make our submission easier
df_train = df_train[['ID', 'join_date', 'sex', 'marital_status', 'birth_year', 'branch_code',
                    'occupation_code', 'occupation_category_code', 'PCODE', 'ID X PCODE', 'Label']]

df_test = df_test[['ID', 'join_date', 'sex', 'marital_status', 'birth_year', 'branch_code',
                    'occupation_code', 'occupation_category_code', 'PCODE', 'ID X PCODE']]

In [17]:
#lets check for uniqueness amongst the categorical columns in train and test data
cat_cols_spec = ['PCODE', 'occupation_code', 'branch_code', 'occupation_category_code']
for col in cat_cols_spec:
    df_train_col = df_train[col].unique() #get the unique categories in that particular column
    df_test_col = df_test[col].unique()
    print('Categories Not in Test' + col + ' ', [i for i in df_train_col if i not in df_test_col])
    print('Categories Not in Train' + col + ' ',  [i for i in df_test_col if i not in df_train_col])
    print('**'* 35)

Categories Not in TestPCODE  []
Categories Not in TrainPCODE  []
**********************************************************************
Categories Not in Testoccupation_code  ['IE90', 'Q0LY', 'JSAX', '6XXU', '8HRZ', 'OQMY', 'INEJ', 'VZN9', 'UC7E', 'PSUY', 'WSRG', 'JQH3', 'LGTN', '738L', 'QQUP', '2XZ1', 'CAAV', 'LLLH', 'W1X2', 'DHSN', 'IX8T', '2US6', 'ZWPL', 'MEFQ', '9B5B', 'JUIP', 'BFD1', 'A4ZC', 'IMHI', 'E5PF', 'GZA8', '3YQ1', 'PJR4', 'NDL9', 'PPNK', '2686', '5LNN', '374O', 'URYD', 'M0WG', 'KBWO', 'ONY7', 'VYSA', 'KUPK', 'R7GL', 'HSVE', 'BER4', '6SKY', 'RH2K', 'ZHC2', 'W3ZV', 'FLXH', 'UYDZ', 'YJXM', '59QM']
Categories Not in Trainoccupation_code  ['0ZND', '8CHJ', '9F96', 'HSI5', '93OJ', 'BIA0', 'E2MJ', 'JBJP', '0FOI']
**********************************************************************
Categories Not in Testbranch_code  []
Categories Not in Trainbranch_code  []
**********************************************************************
Categories Not in Testoccupation_category_code  []
Categories Not in Trainoccupation_category_code  []
**********************************************************************

In [22]:
#now that we see that there are some categories in the training data that are absent from the test data... vise-versa
"""
we will be label encoding, but most importantly, we will be taking notes of some important
concepts like df.factorize.
df.factorize is useful for obtaining a numeric representation of an array when all that matters is 
identifying distinct values(which is what we want in this case, since there is no order.)
another beautiful thing is that None values take the value of -1 in the label.
label, uniques = pd.factorize()...we dont need the uniques, so we will be using label,_
THIS IS THE BEST WAY SO FAR TO ENCODE UNEQUAL CATEGORIES IN CATEGORICAL FEATURES
"""
import gc
#verbose is set to true to get warnings and log options
def leb_encode(df_train, df_test, columns, verbose = True):
    for col in columns:
        full_comb = pd.concat([df_train[col], df_test[col]], axis = 0)#we concattenated the relevant columns
        full_comb,_ = full_comb.factorize(sort=True)
        nam = col
        if full_comb.max()>32000: #int32 and int16 have different memory capacity(we are encoding the ID(we can have large values))
            df_train[nam] = full_comb[:len(df_train)].astype('int32')#we are assigning the encoded colunmms back to our dataframe
            df_test[nam] = full_comb[len(df_train):].astype('int32')
        else:
            df_train[nam] = full_comb[:len(df_train)].astype('int16')
            df_test[nam] = full_comb[len(df_train):].astype('int16')
        del full_comb
        x=gc.collect()#garbage collector...we are triggering it because we want to free a lot of objects
        if verbose:
            print(nam, ', ', end = '')

In [23]:
leb_encode(df_train, df_test, ['ID','branch_code', 'occupation_code', 'occupation_category_code', 'PCODE', 'sex', 'marital_status'])

ID , branch_code , occupation_code , occupation_category_code , PCODE , sex , marital_status ,

In [124]:
#now its time to deal with the date and year attributes
#we will start by creating a beautiful function to extract year and date from our date colummn
def extract_date(df, column):
    """df takes a dataframe, column takes a string"""
    df[column+"_year"] = df[column].apply(lambda x: x.year)#x will take the date value from the column and lambda applies x.year
    df[column+"_month"] = df[column].apply(lambda x: x.month)

In [125]:
extract_date(df_train, 'join_date')
extract_date(df_test, 'join_date')

In [126]:
df_train.head()

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,PCODE,ID X PCODE,Label,join_date_year,join_date_month
0,5384,2019-01-02,0,2,1987,0,19,5,15,4WKQSBB X P5DA,0,2019.0,1.0
1,13834,2019-01-06,0,2,1981,11,19,5,15,CP5S02H X P5DA,0,2019.0,1.0
2,3217,2013-01-06,1,6,1991,3,185,1,15,2YKDILJ X P5DA,0,2013.0,1.0
3,3010,2019-01-08,1,2,1990,0,82,0,15,2S9E81J X P5DA,0,2019.0,1.0
4,12546,2019-01-08,1,2,1990,3,157,5,15,BHDYVFT X P5DA,0,2019.0,1.0

In [128]:
#lets write a function to handle birth_year... we would be returning their age
def age_birth(df, column):
    current_year = 2020
    df['age'] = df[column].apply(lambda x: current_year-x)

In [132]:
#fill the missing values with modes
df_train['join_date_year'].fillna(df_train['join_date_year'].mode()[0], inplace=True)
df_train['join_date_month'].fillna(df_train['join_date_month'].mode()[0], inplace=True)

In [135]:
df_test['join_date_year'].fillna(df_test['join_date_year'].mode()[0], inplace=True)
df_test['join_date_month'].fillna(df_test['join_date_month'].mode()[0], inplace=True)

In [137]:
age_birth(df_train, 'birth_year')
age_birth(df_test, 'birth_year')

In [138]:
df_train.head()

,ID,join_date,sex,marital_status,birth_year,branch_code,occupation_code,occupation_category_code,PCODE,ID X PCODE,Label,join_date_year,join_date_month,age
0,5384,2019-01-02,0,2,1987,0,19,5,15,4WKQSBB X P5DA,0,2019.0,1.0,33
1,13834,2019-01-06,0,2,1981,11,19,5,15,CP5S02H X P5DA,0,2019.0,1.0,39
2,3217,2013-01-06,1,6,1991,3,185,1,15,2YKDILJ X P5DA,0,2013.0,1.0,29
3,3010,2019-01-08,1,2,1990,0,82,0,15,2S9E81J X P5DA,0,2019.0,1.0,30
4,12546,2019-01-08,1,2,1990,3,157,5,15,BHDYVFT X P5DA,0,2019.0,1.0,30

In [154]:
#lets drop some columns before we call our classifiers
y=df_train['Label']
X_train= df_train.drop(['join_date', 'ID X PCODE', 'birth_year', 'Label'], axis=1)

In [143]:
y_submit = df_test['ID X PCODE']
X_test= df_test.drop(['join_date','ID X PCODE', 'birth_year'], axis=1)

In [155]:
X_train.shape, X_test.shape, y.shape

((611772, 10), (210000, 10), (611772,))

In [157]:
from sklearn.model_selection import cross_val_score
from sklearn import metrics
import lightgbm as lgb

clf = lgb.LGBMClassifier()
scores = cross_val_score(clf, X_train, y, cv=5, scoring = 'roc_auc', n_jobs=-1)

In [158]:
scores

array([0.9122799 , 0.84374883, 0.76318142, 0.94190652, 0.61386082])

In [159]:
scores.mean()

0.8149954984485305

In [ ]:
#we wil need some visualizations to understand our data better